
<!--
  This template loads for the 'chekcout_address' state (app.js)
-->
<ion-view view-title="收货地址">
  <ion-content class="checkout">
    <div class="list">
      <div class="item">
        <input type="text" placeholder="姓名"/>
      </div>
      <div class="item">
        <input type="text" placeholder="收货地址"/>
      </div>

      <div class="item">
        <input type="text" placeholder="城市"/>
      </div>
      <div class="item">
        <input type="text" placeholder="邮政编码"/>
      </div>
      <div class="item">
        <input type="text" placeholder="省份"/>
      </div>
      <div class="item">
        <input type="text" placeholder="城市"/>
      </div>
    </div>

    <!-- Next button -->
    <div class="padding">
      <button class="button button-block button-energized" ui-sref="checkout_shipping">
        下一步
      </button>
    </div>

  </ion-content>
</ion-view>
